<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div>
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="field-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            <div class="description">Choose which Sentry Organization to link</div>
          </div>
        {% endfor %}
        <div class="field-group">
          <button type="submit">Save</button>
        </div>
      </form>
    </div>
  </body>
</html>
